# Configuration reCAPTCHA
RECAPTCHA_SITE_KEY=6Lf1cTorAAAAAClxy4Vi8LaPRJLlirLUlUf2Um5x
RECAPTCHA_SECRET=YOUR_SECRET_KEY_HERE

# Configuration SMTP
SMTP_HOST=smtp.gmail.com
SMTP_USERNAME=contact@codepath.fr
SMTP_PASSWORD=your_email_password
SMTP_PORT=465
MAIL_TO=contact@codepath.fr
